{{ partial "head.html" . }}
<main>
	<header>
		<h1>{{.Title}}</h1>
	</header>
	{{.Content}}
	{{ range (where .Site.RegularPages "Section" "news") }}
	<div class="news-item">
		<time>{{.Date.Format "January 2006"}}</time>
		<a href="{{.Permalink}}">{{.Title}}</a>
		<br>
		{{.Summary}}
	</div>
	{{ end }}
	<a href="/index.xml">Atom Feed</a>
</main>
{{ partial "foot.html" . }}
