{{ partial "head.html" . }}
<main>
	<header>
		<h1>{{$.Title}}</h1>
		{{ if .Date }}
		<time>{{.Date.Format "January 2006"}}</time>
		{{ end }}
	</header>
	{{.Content}}
</main>
{{ partial "foot.html" . }}
