html {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	overflow-y: scroll;
}

body {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;
	line-height: 1.5;
}

header nav {
	line-height: 2;
	
	a {
		margin-right: 1rem;
	}
}

address {
	dt {
		font-weight: bold;
	}

}

.news-item {
	margin: 1rem 0;
}

.research-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		margin-top: 0;
	}

	div {
	
		width: 80%;
		margin-right: 1rem;
	}

	img {
		object-fit: cover;
		object-position: center;
		height: 8rem;
		width: 20%;
	}
}

.person {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 1rem 0;

	img {
		object-fit: cover;
		height: 8rem;
		width: 8rem;
		margin-right: 1rem;
	}

	h2 {
		margin: 0;
	}
}

@media (max-width: 32rem) {
	.research-item {
		div {
			width: 100%;
			margin-right: 0;
		}
		
		img {
			display: none;
		}
	}
}

img {
	width: 100%;
	border-radius: 2px;
}

footer {
	margin-top: 1rem;
	font-size: .85rem;
}

.footnotes {
	font-size: .85rem;
}

sup {
	line-height: 1;
	font-size: .85rem;
}

pre code {
	background-color: #eee;
	padding: .25rem;
	margin: 0;
	overflow-x: auto;
}

blockquote {
	padding: 0 1rem;
	margin-left: 0;
	border-left: .25rem solid #ddd;
}

a {
	color: #06e;
}

hr {
	border: .125rem solid #ddd;
}

dt::after {
	content: ": ";
}

table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		border: 2px solid #ddd;
		padding: .25rem;
	}
}
