	<footer>
		© Content copyright Shefelbine Lab 2022 all rights reserved, <a href="{{.Site.Params.source}}">source code</a> released under the <a href="https://opensource.org/license/MIT/">MIT</a> license.
	</footer>
</body>
</html>
