<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ if not .IsHome }}{{.Title}} | {{ end }}{{.Site.Title}}</title>
	{{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<header>
		<img src="/shefelbine-lab-logo.svg" alt="Shefelbine Lab Logo" width=400 height=104 style="width:400px;max-width:100%;margin-bottom:1rem;">
		<nav>
			<a href="/">Home</a>{{ range .Site.Params.nav }}{{ with $.Site.GetPage . }}
			<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
		</nav>
	</header>
