{{ partial "head.html" . }}
<main>
	<h2>Research</h2>
	{{ range .Site.Params.research }}{{ with $.Site.GetPage . }}
	<div class="research-item">
		<div>
			<h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
			<p>
			{{.Summary}}
			</p>
		</div>
		<img src="{{.Params.image}}" alt="">
	</div>
	{{end}}{{end}}
	<h2>Software</h2>
	{{ .Site.Params.software | markdownify }}
	<h2>Contact</h2>
	<address style="font-style:normal;">
		Contact {{.Site.Params.contact.name}} ({{.Site.Params.contact.department}}):
		<dl>
			<dt>Phone</dt>
			<dd>
			<a href="tel:+1{{ replaceRE "[^0-9]" "" .Site.Params.contact.phone }}">{{.Site.Params.contact.phone}}</a>
			</dd>
			<dt>Email</dt>
			<dd>
			<a href="mailto:{{.Site.Params.contact.email}}">{{.Site.Params.contact.email}}</a>
			</dd>
			<dt>Mailing Address</dt>
			<dd>
			{{ .Site.Params.contact.address | markdownify }}
			</dd>
		</dl>
	</address>
</main>
{{ partial "foot.html" . }}
